a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
.active-url{
    color: green;
}
.form-control.ng-valid.ng-touched.ng-dirty{
    border: 1px solid red;
}
.alert-danger{
    color: red;
}